<!DOCTYPE html>
<html lang="en">
<head>
  <%- include( '../../layout/head.ejs' ) %>
</head>
<body>
  <header>
  <h3>Book Details</h3>
  <%- include( '../../layout/header.ejs' ) %>
</header>
  <ul>
  <article class="book_list">
    <img class="book_image" src=<%= chosenOne.image_url %>>
    <h2 class="books"><%= chosenOne.title %></h2>
    <h3 class="books"><%= chosenOne.author %></h3>
    <p class="books"><%= chosenOne.description %></p>
    <p class="books"><%= chosenOne.isbn %></p>
    <form action="/update/<%= chosenOne.id %>?_method=PUT" method="post"></form>
  </article>
</ul>
<footer>
  <%- include( '../../layout/footer.ejs' ) %>
</footer>
</body>
</html>