<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <article class="book_list">
    <img class="book_image" src=<%= chosenOne.image_url %>>
    <h2 class="books"><%= chosenOne.title %></h2>
    <h3 class="books"><%= chosenOne.author %></h3>
    <p class="books"><%= chosenOne.description %></p>
    <p class="books"><%= chosenOne.isbn %></p>
  </article>
</body>
</html>