<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hello World</title>
  <link href="https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./styles/reset.css">
  <link rel="stylesheet" href="./styles/base.css">
  <link rel="stylesheet" href="./styles/layout.css">
  <link rel="stylesheet" href="./styles/modules.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
</head>
<body>
  <header>
    <h1>Best Books!</h1>
  </header>
  <% finalBooksArray.forEach(book => { %>
    <article class="book_list">
    <h2><%= book.title %></h2>
    <h3><%= book.author%></h3>
    <img src=<%= book.image %> >
    <p><%= book.description %></p>
    <p>image url <%= book.image %></p>
    <form id="create-form" action="/books" method="post">
      <fieldset>
        <input type="hidden" name="author" value="<%= book.author %>">
        <input type="hidden" name="title" value="<%= book.title %>">
        <input type="hidden" name="isbn" value="<%= book.isbn %>">
        <input type="hidden" name="image_url" value="<%= book.image %>">
        <input type="hidden" name="description" value="<%= book.description %>">
        <div>
          <button class="detail_button" type="submit">Save This Book!</button>
        </div>
      </fieldset>
    </form>
  </article>
  <% }) %>
  <!-- class="center" -->
  <!-- Action is the url we want to go visit -->
  <!-- <form action="/search" method="POST">
    <fieldset>
      <legend>Search by Title or Author</legend>
      Search<input name="Title or Author" type="text">
      Title<input type="radio" value="title" name="This">
      Author<input type="radio" value="author" name="This">
      <input type="submit">
    </fieldset>
  </form> -->

  <!-- <form action="/add-ice-cream-flavor" method="POST">
    <input type="text" name="flavor">
    <input type="submit">
  </form> -->
  <footer></footer>
</body>
</html>