<!DOCTYPE html>
<html lang="en">
<head>
  <%- include( '../layout/head.ejs' ) %>
</head>
<body>
  <header>
    <h1>Best Books!</h1>
    <%- include( '../layout/header.ejs' ) %>
  </header>
  <div id="subtitle">
    <div class="search" ><a href="/search">Find Your Favorite Books</a></div>
  </div>
  <!-- Action is the url we want to go visit -->
    <ul>
      <% bookList.forEach(book => { %>
      <article class="book_list">
        <h2 class="books"><%= book.title %></h2>
        <img class="book_image" src=<%= book.image_url %> >
        <h3 class="books"><%= book.author %></h3>
        <p class="books_description"><%= book.description %> </p>
        <div>
          <button class="detail_button"><a href="/books/<%= book.id %>">View Details</a></button>
        </div>
      </article>
    <% }) %>
    </ul>
  </form>
  <footer>
    <%- include( '../layout/footer.ejs' ) %>
  </footer>
</body>
</html>